### IntelliJ ###
*.iml
*.ipr
*.iws
.idea/

### Eclipse ###
.classpath
.project
.settings/

### Maven ###
target/
log/

### Java ###
*.class
# Package Files #
*.jar
*.war
*.ear

### Linux ###
.*
!.gitignore
!.git*
!.travis.yml
